@import "@/styles/screen.scss";
@import "@/styles/font.scss";
@import "@/styles/color.scss";

.headerBox {
  position: relative;
  display: block;
  width: 100%;
  height: 62px;
  z-index: 999;
  @include lg {
    height: 73.8px;
  }
  .placeholder {
    display: none;
    @include lg {
      display: block;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
  }
}
.stickyHeader {
  position: -webkit-sticky;
  position: sticky;
  @include sm {
    height: 72px;
  }
}
.header {
  position: relative;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  z-index: 999;
  background-color: #100912;
  // background-color: rgba($color-dark, 0.6);
  @include lg {
    position: absolute;
    right: 0;
    left: 0;
  }
  &.sticky {
    height: 68px;
    position: relative;

    z-index: 999;
    @include sm {
      height: 72px;
      background-color: #100912;
      // background: #1009129b;
    }
    position: fixed;
    // background: #1009129b;
    background-color: #100912;
  }
  &.fixed {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;
  }
  &.homeHeaderBg {
    @include lg {
      z-index: 10;
      background-color: #100912;
      // background-color: rgba($color-dark, 0.6);
      // backdrop-filter: blur(0px);
    }
  }
  &.transparent {
    @include lg {
      background-color: transparent !important;
      -webkit-backdrop-filter: blur(0px);
      backdrop-filter: blur(0px);
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 68px;
    @include container(1280px, 12px);
    .logo {
      cursor: pointer;
    }
  }

  .status {
    display: none;
    @include sm {
      display: block;
    }
  }
  .cardActions {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #000;
    z-index: 1;
    max-height: 0px;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    &.active {
      // TODO : optimize to change automatically
      max-height: 100px;
      visibility: visible;
    }
    @include sm {
      all: unset;
      display: grid;
      grid-auto-flow: column;
      gap: 16px;
    }
  }

  .hamburger {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px 0px;
    @include sm {
      display: none;
    }
    .bar {
      background-color: #fff;
      width: 100%;
      height: 2px;
      border-radius: 500px;
    }
  }
}

.navigationBox {
  position: absolute;
  display: block;
  width: 100%;
  // height: 600px;
  z-index: 100;
  @include lg {
    display: none;
  }
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animationSpin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
